<ion-view title="Catégorie" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="catGorie-list1" class=" ">
            <ion-item class="item-icon-left  " id="catGorie-list-item6" ui-sref="menu.pageTheme">
                <i class="icon ion-ios-cart"></i>Marketing</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item11" ui-sref="menu.pageTheme">
                <i class="icon ion-university"></i>Droit</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item16" ui-sref="menu.pageTheme">
                <i class="icon ion-ios-people"></i>Communication</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item15" ui-sref="menu.pageTheme">
                <i class="icon ion-ios-wineglass"></i>Hotelerie</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item14" ui-sref="menu.pageTheme">
                <i class="icon ion-ios-pulse"></i>Médecine</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item12" ui-sref="menu.pageTheme">
                <i class="icon ion-ionic"></i>Sciences</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item13" ui-sref="menu.pageTheme">
                <i class="icon ion-images"></i>Multimédia</ion-item>
            <ion-item class="item-icon-left  " id="catGorie-list-item17" ui-sref="menu.pageTheme">
                <i class="icon ion-wrench"></i>Mécanique</ion-item>
        </ion-list>
    </ion-content>
</ion-view>